<link rel="stylesheet" href="./css/index.css" />
<script type="module" src="./js/search.js"></script>

<main>
  <form id="search-form">
    <input id="search-input" type="text" name="q" placeholder="Search..." />
    <button type="submit">Search</button>
  </form>
</main>

<div id="search-results"></div>