<!doctype html>
<html lang="sv">

<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <title>W1 - assignment</title>
  <base href="<%= baseURL %>" />
  <%- defineContent('style') %>
  <%- defineContent('script') %>
</head>

<body>

  <div class="container">
    <%- body %>
  </div>


</body>

</html>

